/* start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}
:root{
    --main-color: #2196f3;
    --main-color-alt:#1787e0;
    --main-transition:0.3s;
}
html{
    scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/* end global rules */
/* header */
header{
    -webkit-box-shadow:0 0 10px #ddd;
    -moz-box-shadow:0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
}
header .container{
    z-index: 2;
}
header nav .logo a{
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
    display: flex;
    height: 67.43px;
    align-items: center;
    justify-content: center;
}
@media(max-width: 767px){
    header nav .logo {
        width: 100%;
        height: 50;
    }

}
header .container nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;

}
@media(max-width: 767px){
    header .container nav{
        margin: auto;
    }
}
header nav .links ul{
    display: flex;
    position: relative;

}
header nav .links> ul > li > a::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);      
}
header nav .links> ul > li > a{
    padding: 0 30px;
    display: flex;
    transition: 0.3s;
    color: black;
    align-items: center;
    justify-content: space-betweens;
    font-size: 20px;
    font-weight: normal;
    position: relative;
    height: 67.43px;
    overflow: hidden;
}
@media(max-width: 767px){
    header nav .links> ul > li > a{
    padding: 10px;
    font-size: 14px;
    height: 40px;
    }
}

header nav .links ul li:hover a{
    color: var(--main-color-alt); 
}
header nav .links ul li a:hover::before{
    left: 0;
}

header nav .links ul li a .mega:hover{
    .mega-links{
        display: block;
    }
}
.mega-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.mega-links ul{
    color: var(--main-color);
}
.mega-links ul li{
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    border-width: 100%;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

/* start landing */
.landing{
    position: relative;
}
.landing::before{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #ECECEC;
    transform: skewY(-9deg);
    z-index: -1;
    transform-origin: top left;
}
.landing .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(100vH - 67.43PX);
}
.landing-text{
}
.landing-text h1{
    font-size: 50px;
    margin: 0;
}
.landing-text p{
    color: #777;
    line-height: 2;
    font-size: 25px;
    margin: 0;
}
.landing-img img{
    max-width: 50%;
    height: auto;
}