/* start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --main-color: #2196f3;
    --main-color-alt:#1787e0;
    --main-transition:0.3s;
}
html{
    scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/* end global rules */
/* header */
header{
    /* padding-top: 10px;
    padding-bottom: 10px; */
    -webkit-box-shadow:0 0 10px #ddd;
    -moz-box-shadow:0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
  
}
header nav .logo a{
    color: var(--main-color);
    font-weight: bold;
    font-size: 26px;
    display: flex;
    height: 67.43px;
    align-items: center;
}
/* @media(max-width: 770px){
    header nav .links ul{
        display: none;
    }

    header nav .logo a{
        display: flex;
        align-self: center;
    }

} */
header .container nav{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
header nav .links ul{
    display: flex;
    position: relative;

}
header nav .links> ul > li > a::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);      
}
header nav .links> ul > li > a{
    padding: 0 30px;
    display: flex;
    transition: 0.3s;
    color: black;
    align-items: center;
    justify-content: space-betweens;
    font-size: 20px;
    font-weight: normal;
    position: relative;
    height: 67.43px;
    overflow: hidden;

}

header nav .links ul li:hover a{
    color: var(--main-color-alt); 
}
header nav .links ul li a:hover::before{
    left: 0;
}

header nav .links ul .mega :hover header .mega-links{
        display: block;
}
.mega-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* display: none; */
}
.mega-links ul{
    color: var(--main-color);
}
.mega-links ul li{
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    border-width: 100%;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}

